@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --blue: #00bcd4;
  --white: #fff;
  --light-white: #f3f3f3;
  --black: #000;
  --light-bg: #4b4b4b;
  --yellow: #ffdbaa;
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  list-style-type: none;
  /* text-transform: capitalize; */
}

*::selection {
  background-color: var(--white);
  color: var(--black);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  font-size: 1.4rem;
  color: var(--blue);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 5rem;
}

body {
  background-color: var(--white);
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background-color: var(--yellow);
  cursor: pointer;
  color: var(--black);
  font-size: 1.8rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background-color: var(--black);
  color: var(--light-white);
}

.heading {
  margin: 50px;
  height: auto;
  padding: 65px 1%;
  text-align: center;
  font-size: 4rem;
  color: var(--black);
  text-transform: uppercase;
}

.heading span {
  color: var(--blue);
  text-transform: uppercase;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
}

.header .flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--white);
}

.header .flex .navbar a {
  margin-left: 2rem;
  color: var(--black);
  font-size: 2rem;
}

.header .flex .navbar a:hover {
  color: var(--blue);
}

/* change scroll navbar */
.window-scroll {
  background: var(--light-white);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

#menu-btn {
  cursor: pointer;
  color: var(--black);
  font-size: 2.5rem;
  display: none;
}

.home {
  margin-top: 6rem;
}

.home .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
}

.home .row .content {
  flex: 1 1 40rem;
  text-align: center;
}

.home .row .image {
  flex: 1 1 40rem;
}

.home .row .image img {
  width: 100%;
}

.home .row .content h3 {
  margin-bottom: 1rem;
  font-size: 10rem;
  color: var(--black);
  line-height: 1;
}

.home .row .content h3 span {
  color: var(--blue);
}

.count .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
}

.count .box-container .box {
  background-color: var(--blue);
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.count .box-container .box i {
  font-size: 5rem;
  color: var(--white);
}

.count .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 0.5rem;
}

.count .box-container .box .content p {
  font-size: 1.6rem;
  color: var(--white);
}

.about .row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 40rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  text-align: center;
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.about .row .content p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.6rem;
  color: var(--black);
}

/* about */

.service {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px auto;
  text-align: center;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
  padding: 20px 20px;
  background-color: var(--blue);
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  background-color: #ffdbaa;
  transition: 0.4s ease;
}

.card .icon {
  font-size: 35px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 28px;
  color: var(--black);
  margin-bottom: 20px;
}

.card p {
  font-size: 17px;
  margin-bottom: 30px;
  line-height: 1.5;
  color: var(--light-white);
}

.courses .slide {
  background-color: var(--blue);
  border-radius: 0.5rem;
  text-align: center;
  padding: 100px 2%;
  margin-bottom: 4rem;
  user-select: none;
  height: auto;
}

.courses .slide img {
  height: 25rem;
  width: 100%;
}

.courses .slide h3 {
  margin: 1.5rem 0;
  font-size: 2rem;
  color: var(--black);
}

.courses .slide p {
  line-height: 2;
  font-size: 1.6rem;
  color: var(--light-white);
}

.swiper-pagination-bullet {
  background-color: var(--white);
}

.swiper-pagination-bullet-active {
  background-color: var(--blue);
}

.menu-icon {
  font-size: 28px;
  display: none;
}

.team {
  width: 100%;
  height: auto;
  padding: 20px 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.team-content {
  width: 100%;
  max-width: 1350px;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;
}
.team-content img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
}
.center h1 {
  color: #000;
  font-size: 90px;
  text-align: center;
}
.box {
  padding: 16px;
  background: #1b1229;
  border-radius: 15px;
  transition: all 0.38s ease;
}
.box h3 {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;
}
.box h5 {
  font-size: 15px;
  font-weight: 600;
  color: #b7b4bb;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.icons i {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin: 0 8px;
  transition: all 0.38s ease;
}
.icons i:hover {
  transform: scale(1.2);
}
.box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .menu-icon {
    display: flex;
    align-items: center;
  }
  .service {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 85%;
    display: flex;
    margin: 20px 0px;
  }
}

@media (max-width: 1240px) {
  .menu-icon {
    display: flex;
    align-items: center;
  }
  .team {
    width: 100%;
    height: auto;
    padding: 20px 2%;
  }
  .center h1 {
    font-size: 3.2rem;
  }
}

/* ourteam homepage */

.ourteam .slide {
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;
  user-select: none;
}

.ourteam .slide img {
  height: 55rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.ourteam .slide h3 {
  margin-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: var(--black);
}

.ourteam .slide h4 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--blue);
}
.ourteam .slide .share {
  position: absolute;
  top: 1rem;
  left: -10rem;
}

.ourteam .slide:hover .share {
  left: 2rem;
}

.ourteam .slide .share a {
  display: block;
  margin-top: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  font-size: 2rem;
}

.ourteam .slide .share a:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* ourteam homepage */

.contact .row {
  margin-top: -10rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row .image {
  flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form {
  flex: 1 1 40rem;
}

.contact .row form .box {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: var(--black);
  font-size: 1.8rem;
  color: var(--white);
  padding: 1.4rem;
  text-transform: none;
}

.contact .row form span {
  font-size: 1.6rem;
  color: var(--black);
}

.contact .row form .radio {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.contact .row form .radio label {
  font-size: 1.6rem;
  color: var(--black);
  margin-left: 0.5rem;
  cursor: pointer;
}

.contact .row form .radio #female {
  margin-left: 2rem;
}

.contact .row form .radio input {
  appearance: none;
  height: 2rem;
  width: 2rem;
  background-color: var(--black);
  cursor: pointer;
}

.contact .row form .radio input:checked {
  background-color: var(--blue);
  border-radius: 5rem;
}

/*-----footer section --*/
.container {
  width: 76%;
  margin: 0 auto;
}
footer {
  background: var(--light-white);
  padding-top: 5rem;
  font-size: 0.9rem;
}

.footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer_container > div h4 {
  margin-bottom: 1.2rem;
}

.footer_1 p {
  font-size: 1.2rem;
  margin: 1rem 0 2rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}
footer ul li a:hover {
  text-decoration: underline;
}

.footer_socials {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.footer_copyright {
  text-align: center;
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--blue);
}

/* silabus */
#silabus {
  margin-top: 100px;
  height: 800px;
}
#silabuspage {
  margin-top: 70px;
  height: 880px;
}
#course-title {
  margin-top: 20px;
  margin-left: 5px;
  font-weight: 600;
  font-size: 32px;
  color: var(--black);
}
#course-description {
  margin-top: 20px;
  margin-left: 5px;
  font-weight: 200;
  font-size: 24px;
}

h3 {
  margin-top: 10px;
  margin-left: 5px;
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
}
.p1 {
  font-weight: 500;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 16px;
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .container {
    width: 90%;
  }
  h4 {
    font-size: 1.2rem;
  }

  .home .row .content h3 {
    font-size: 8rem;
  }
  video {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
  .footer_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid var(--light-white);
    border-bottom: 0.1rem solid var(--light-white);
    background-color: var(--white);
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .flex .navbar a {
    display: block;
    margin: 2rem;
  }

  .home .row .content h3 {
    font-size: 6rem;
  }
  video {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .container {
    width: 94%;
  }

  .home .row .content h3 {
    font-size: 5rem;
  }

  .heading {
    font-size: 3rem;
    padding: 2rem 1%;
    margin-top: 100px;
    margin-bottom: 60px;
  }
  video {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
  .footer_container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }
  .footer_1 p {
    margin: 1rem auto;
  }

  .footer_socials {
    justify-content: center;
  }
}
